<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Pregnancy Questions
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script defer src="/script.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PregQ</a>
            <input type="text" id="locationInput" name="query" size="20" placeholder="Source Location...">
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col" style="background-color: rgb(52, 53, 64);">
            </div>
            <div class="col-6 SearchResults" id="resultsContainer">
                <a id="searchQuery" style="padding-bottom: 5px;"></a>
            </div>
            <div class="col" style="background-color: rgb(52, 53, 64);">
            </div>
        </div>
    </div>
    <div class="search-bar">
        <form id="searchForm">
            <input type="text" id="searchInput" name="query" size="50"
                placeholder="Say a word or phrase i.e Coffee, Cheese...">
            <button type="submit">Go</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>